button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  width: 30vw;
}

button[disabled] {
  cursor: not-allowed;
}

button[disabled]:hover {
  cursor: not-allowed;
}

.buttons {
  display: flex;
  gap: 2em;
}
